 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #CE5211;
active-foreground: #FED9B0;
normal-background: #191516;
normal-foreground: #FED9B0;
urgent-background: #CE5211;
urgent-foreground: #FED9B0;

alternate-active-background: #6E2911;
alternate-active-foreground: #FED9B0;
alternate-normal-background: #191516;
alternate-normal-foreground: #FED9B0;
alternate-urgent-background: #191516;
alternate-urgent-foreground: #FED9B0;

selected-active-background: #CE5211;
selected-active-foreground: #FED9B0;
selected-normal-background: #CE5211;
selected-normal-foreground: #FED9B0;
selected-urgent-background: #CE5211;
selected-urgent-foreground: #FED9B0;

background-color: #191516;
background: rgba(0,0,0,0.7);
foreground: #FED9B0;
border-color: #CE5211;

color0: #413C3C;
color1: #521F0D;
color2: #531F0D;
color3: #531F0D;
color4: #9B3E0D;
color5: #9B3E0D;
color6: #BD6D15;
color7: #F5C085;
color8: #AC865D;
color9: #6E2911;
color10: #6E2911;
color11: #6E2911;
color12: #CE5211;
color13: #CE5211;
color14: #FC911C;
color15: #F5C085;


}

