 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #396772;
active-foreground: #CEEBE8;
normal-background: #1F2224;
normal-foreground: #CEEBE8;
urgent-background: #4C8691;
urgent-foreground: #CEEBE8;

alternate-active-background: #142A34;
alternate-active-foreground: #CEEBE8;
alternate-normal-background: #1F2224;
alternate-normal-foreground: #CEEBE8;
alternate-urgent-background: #1F2224;
alternate-urgent-foreground: #CEEBE8;

selected-active-background: #4C8691;
selected-active-foreground: #CEEBE8;
selected-normal-background: #4C8691;
selected-normal-foreground: #CEEBE8;
selected-urgent-background: #396772;
selected-urgent-foreground: #CEEBE8;

background-color: #1F2224;
background: rgba(0,0,0,0.7);
foreground: #CEEBE8;
border-color: #396772;

color0: #45484A;
color1: #0C1B23;
color2: #0C1B23;
color3: #0F2027;
color4: #2B4E56;
color5: #39646D;
color6: #57948E;
color7: #B1DAD6;
color8: #7C9895;
color9: #10242E;
color10: #10242E;
color11: #142A34;
color12: #396772;
color13: #4C8691;
color14: #74C5BD;
color15: #B1DAD6;


}

