 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #578BD2;
active-foreground: #FBEDE0;
normal-background: #050005;
normal-foreground: #FBEDE0;
urgent-background: #B48FB4;
urgent-foreground: #FBEDE0;

alternate-active-background: #7686C7;
alternate-active-foreground: #FBEDE0;
alternate-normal-background: #050005;
alternate-normal-foreground: #FBEDE0;
alternate-urgent-background: #050005;
alternate-urgent-foreground: #FBEDE0;

selected-active-background: #B48FB4;
selected-active-foreground: #FBEDE0;
selected-normal-background: #B48FB4;
selected-normal-foreground: #FBEDE0;
selected-urgent-background: #578BD2;
selected-urgent-foreground: #FBEDE0;

background-color: #050005;
background: rgba(0,0,0,0.7);
foreground: #FBEDE0;
border-color: #578BD2;

color0: #050005;
color1: #352637;
color2: #8B3B38;
color3: #596495;
color4: #41689E;
color5: #876B87;
color6: #B7997C;
color7: #F1DDCA;
color8: #A99B8D;
color9: #473249;
color10: #B94F4A;
color11: #7686C7;
color12: #578BD2;
color13: #B48FB4;
color14: #F4CCA6;
color15: #F1DDCA;


}

