Hyprland-Dots/config/Code/
Hyprland-Dots/config/BraveSoftware/
Hyprland-Dots/config/google-chrome/
**/Cache*
**/*.db
Hyprland-Dots/config/Code/CachedExtensionVSIXs/
Hyprland-Dots/config/obsidian/
Hyprland-Dots/Copy-Logs/
*.bak
