[Desktop Entry]
Type=Application
Name=AnkiDroid
Exec=waydroid app launch com.ichi2.anki
Icon=/home/imad/.local/share/waydroid/data/icons/com.ichi2.anki.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.ichi2.anki
Icon=/home/imad/.local/share/waydroid/data/icons/com.android.settings.png
