[Desktop Entry]
Type=Application
Name=Obsidian
Exec=waydroid app launch md.obsidian
Icon=/home/imad/.local/share/waydroid/data/icons/md.obsidian.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:md.obsidian
Icon=/home/imad/.local/share/waydroid/data/icons/com.android.settings.png
